@model ETicaret_MVC.Entities.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container pb-5">
    
    @using (Html.BeginForm())
     {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Kategori Güncelle</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Kaydet" class="btn btn-secondary fa fa-check " />
                    @Html.ActionLink(" Kategori Listesine dön", "Index", null, new {@class= "btn btn-warning fas fa-angle-double-left" })
                </div>
            </div>
        </div>
     }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
