@model IEnumerable<ETicaret_MVC.Entities.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container pb-5">
    <h2>Ürünler</h2>

    <p>
        @Html.ActionLink("Ürün Ekle", "Create",null, new { @class = "fas fa-plus-circle" })
    </p>
    <table class="table table-bordered table-dark bg-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHome)
            </th>
            <th style="width:295px"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="/Upload/@item.Image" width="80"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsHome)
                </td>
                <td>
                    @Html.ActionLink("Güncelle", "Edit", new { id = item.Id }, new { @class = "btn btn-dark far fa-edit" }) 
                    @Html.ActionLink("Detaylar", "Details", new { id = item.Id }, new { @class = "btn btn-warning fas fa-search" }) 
                    @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger far fa-trash-alt" })
                </td>
            </tr>
        }

    </table>
</div>